<!--Aiden Bokrossy-->
<!--ID: 991712275-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Search Password Record</title>
    <img width="10%" th:src="@{/img/download.jpg}" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
    <h1>Search Password Record</h1>

    <!-- The form for searching password records by ID -->
    <form method="get" action="/searchPasswordRecord" th:action="@{/searchPasswordRecord}">
        <label for="searchId">Enter ID:</label>
        <input type="number" id="searchId" name="searchId" />
        <button type="submit">Search By ID</button>
    </form>

    <th:block th:if="${searchPerformed}">
        <!-- Display when a search is performed -->
        <h2 th:if="${foundRecord != null}">Found Record</h2>
        <table th:if="${foundRecord != null}">
            <!-- Display a table if a record is found -->
            <table>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>URL</th>
                    <th>Email</th>
                    <th>Notes</th>
                </tr>
                <tr>
                    <td th:text="${foundRecord.id}"></td>
                    <td th:text="${foundRecord.title}"></td>
                    <td th:text="${foundRecord.username}"></td>
                    <td th:text="${foundRecord.password}"></td>
                    <td th:text="${foundRecord.url}"></td>
                    <td th:text="${foundRecord.email}"></td>
                    <td th:text="${foundRecord.notes}"></td>
                </tr>
            </table>
        </table>
        <!-- Displayed when no record is found -->
        <p th:unless="${foundRecord != null}">Record with ID <span th:text="${searchId}"></span> Not Found!</p>
    </th:block>
    <!-- Links to part 1 and 2 -->
    <a href="/">Back</a>
    <a href="viewPasswordRecord">View Records</a>

</body>

</html>