<!--Aiden Bokrossy-->
<!--ID: 991712275-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Password Records</title>
	<img width="10%" th:src="@{/img/download.jpg}" />
	<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body>
	<h1>Password Records</h1>
    <!-- A table to display password records -->
	<table>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Username</th>
			<th>Password</th>
			<th>URL</th>
			<th>Email</th>
			<th>Notes</th>
		</tr>
        <!-- Iterate through password records using Thymeleaf -->
		<tr th:each="record : ${passwordRecordList}">
			<td th:text="${record.id}"></td>
			<td th:text="${record.title}"></td>
			<td th:text="${record.username}"></td>
			<td th:text="${record.password}"></td>
			<td th:text="${record.url}"></td>
			<td th:text="${record.email}"></td>
			<td th:text="${record.notes}"></td>
		</tr>
	</table>
    <!-- Display a message if there are no records -->
	<p th:if="${#lists.isEmpty(passwordRecordList)}">There are no records.</p>
    <!-- Navigation links -->
	<a href="/">Back</a>
	<a href="searchPasswordRecord">Search Record</a>
</body>

</html>
